@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  top: 0;
  width: 100%;
  max-width: 1600px;
  position: fixed;
  height: 120px;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.content_header {
  align-items: center;
  z-index: 1000;

  width: 100%;
  max-width: 1400px;
  height: 120px;
  @apply bg-neutral-950;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.enviar{
width: 100%;
    height: 100%;
    @apply bg-sky-900;
}

.content_logo {
  width: 30%;
  height: 100%;
  max-width: 130px;
  max-height: 120px;
  padding: 0.5rem;
  justify-content: center;
}

.logo_shop {
  background-image: url("https://img.icons8.com/color/120/big-box-store.png");
  width: 120px;
  height: 120px;
  background-size: cover;
}

nav {
  align-items: center;

  width: 60%;
  height: 100%;
  max-width: 700px;
  max-height: 100px;
  padding: 0.5rem;
  justify-content: center;
}

nav ul {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: right;
  list-style: none;
  display: flex;
}

.nav_link {
  text-transform: capitalize;
  width: 130px;
  height: 220px;
  margin: 0 15px;
  text-decoration: none;
  @apply text-gray-50;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.sub_header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: end;
  @apply bg-white;
}
.content_login {
  width: 120px;
  justify-content: end;
  height: 100%;
}

.content_enviar{
    cursor: pointer;
    transition: all .3s ease-in-out;
    width:100%;
     max-Width:60px;margin:0 auto;height:40px;padding:.5rem;background:#007bffb3;  
}
.content_enviar:hover{
    @apply bg-neutral-50;
}

.sub_header button {
  width: 80px;
  border-radius: 8px;
  height: 30px;
  @apply bg-sky-900;
}

.nav_link:hover {
  color: rgba(0, 123, 255, 0.7);

  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7),
    0 0 100px rgba(0, 123, 255, 0.7);
}

@media (max-width: 768px) {
  .nav_link {
    margin-bottom: 10px;
    padding: 1rem;
    padding-top: 10px;
    width: 180px;

    @apply text-neutral-50;
  }
}
