@tailwind base;
@tailwind components;
@tailwind utilities;

.content-serv {
  margin-top: 190px;
}
.header_min {
  width: 100%;
  max-width: 900px;
  height: 80px;
  @apply bg-neutral-50;
  margin: 0 auto;
  margin-top: 180px;
}
